<div id="space">
</div>
<section>
  <div class="col-md-10">
    <span id="articleH" class="d-block p-2 w3-red text-white text-monospace text-center" ><h4>About</h4></span>
    <p class="card-text">E&TC refers to Electronics and Telecommunication Engineering. This one of the most demanded branches in engineering as the students who join in this branch would have many opportunities in their career. Every engineering student should complete their project successfully in final year to get their engineering certificate. They have many choices in selecting the projects such as microcontroller based, solar, electrical, robotics, sensor based, etc.</p>
    <p class="card-text">For their purpose, we have listed here large number of projects ideas. These are especially collected and published here for ECE students. These are collected from different sources for the convenience of students. If you are interested you may once check the list of all these projects and give your suggestions, feedback, comments and new ideas in the contact us page. Also check out the huge collection of electrical symbols.</p>
    <p class="card-text">Electronics projects are becoming increasingly complex with the demand for solutions for everyday problems. Additionally with IoT coming into the mix, electronics projects have taken on a whole different meaning. Below are hand picked projects for electronics engineers. The lists range over Arduino and Raspberry pi among other projects.</p>
    <a routerLink="/project" class="text-decoration-none"><span class="d-block p-2 w3-red text-white text-monospace text-center" ><h3>Hardware Related Projects</h3></span></a>
    <br>
    <br>
        <a routerLink="/project" class=" text-decoration-none"><span id="articleH" class="d-block p-2 w3-red text-white text-monospace text-center" ><h3>Software Related Projects</h3></span></a>
    <br>
    <br>
    <br>
  

</div>
</section>
