<section>
  <div id=space></div>
  <div class="col-md-10">
  <span id="articleH" class="d-block p-2 w3-red text-white text-monospace text-center" ><h3>Hardware Related Videos</h3></span>
    <hr>
    
  <div class="row row-cols-1 row-cols-md-2">
    
<div class="col mb-4">
<div class="card w3-pale-green" >
  <iframe src="https://www.youtube.com/embed/Fwv8gCj2mgA" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="card-body">
    <h5 class="card-title">IOT Heart Attack Detection & Heart Rate Monitor</h5>
    
  </div>
</div>
</div>
<div class="col mb-4">
<div class="card w3-pale-green">
<iframe src="https://www.youtube.com/embed/_QzmknHTXfM" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="card-body">
    <h5 class="card-title">Arduino Based Autonomous Fire Fighting Robot</h5>
    
  </div>
</div>
</div>
<div class="col mb-4">
<div class="card w3-pale-green">
<iframe src="https://www.youtube.com/embed/K4zFeNWRqIE" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="card-body">
    <h5 class="card-title">IOT BASED GREENHOUSE MONITORING AND CONTROL SYSTEM PROJECT</h5>
  
  </div>
</div>
</div>
<div class="col mb-4">
<div class="card w3-pale-green">
<iframe src="https://www.youtube.com/embed/TwIwLF6tZ04" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="card-body">
    <h5 class="card-title">Ultrasonic Blind Walking Stick Using Arduino</h5>
    
  </div>
</div>
</div>
<div class="col mb-4">
  <div class="card w3-pale-green">
  <iframe src="https://www.youtube.com/embed/KPeKMJnAiMQ" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">RFID attendance system Using Arduino and GSM</h5>
    </div>
  </div>
  </div>
  </div>
<span id="articleH" class="d-block p-2 w3-red text-white text-monospace text-center" ><h3>Software Related Videos</h3></span>
    <hr>
  <div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
<div class="card w3-pale-green">
<iframe src="https://www.youtube.com/embed/J1yQa4Nzn7E" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="card-body">
    <h5 class="card-title">Gain and Noise Calculations of Cascaded Systems Using MATLAB</h5>
    
  </div>
</div>
</div>
<div class="col mb-4">
<div class="card w3-pale-green">
<iframe src="https://www.youtube.com/embed/5qfUprgdTdI" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="card-body">
    <h5 class="card-title">Image Compression Using Discrete Cosine Transform Technique</h5>
  
  </div>
</div>
</div>
<div class="col mb-4">
<div class="card w3-pale-green">
<iframe src="https://www.youtube.com/embed/QbTedKVxdyU" frameborder="0"style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="card-body">
    <h5 class="card-title">Models of a Linear Feedback Shift Register using ModelSim</h5>
    </div>
</div>
</div>
<div class="col mb-4">
<div class="card w3-pale-green">
<iframe src="https://www.youtube.com/embed/HirlU08Rrfg" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="card-body">
    <h5 class="card-title">FIFO Design Using Verilog</h5>
</div>
</div>
</div>

<div class="col mb-4">
  <div class="card w3-pale-green">
  <iframe src="https://www.youtube.com/embed/mdg2PZjtVgo" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Antenna Analysis and Design in MATLAB</h5>
  </div>
  </div>
  </div>
  </div>
  

</div>
  </section>
